body {
    background-color: #497f76;
    text-align: center;
}

.container {
    background-color: ##d2e6cd;
    border-radius: 25px;
}
.header {
    background-color: #86bbac;
    border-radius: 25px 25px 0px 0px;
    padding: 5px;
}

button { 
    background-color: #26323b;
    color: #ffff;
    padding: 10px;
    border: 2px solid #26323b;
    border-radius: 5px;
    margin: 10px;
}
.secondary {
    background-color: #d2e6cd;
    color: #26323b;
}

#blessingDisplay{
    font-size: 20px;
}

